.staticContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 12px;
}

.guests {
  font-weight: 700;
}
.information * {
  margin: 0;
}

.information {
  text-align: start;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
}
.popover {
  width: 325px;
}
.infoRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.numberDiv {
  width: 20px;
  text-align: center;
}

.counter {
  display: flex;
  align-items: center;
}
